@media (max-width: 1000px) and (min-width: 700px){
    .textoEspecifico{
        color: green;
    }
}
.textoEspecifico{
    font-size: larger;
}
.tituloBienvenida{
    color: $tituloh1;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    background-color: aquamarine;
    grid-area: bienvenida;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fotoJuguetes{
border-style: solid;
border-color: black;
border-width: 10px;
background-color: chartreuse;
grid-area: fotoJ;
display: flex;
flex-direction: column;
align-items: center;
}
.textoRelleno{
    border-style: solid;
border-color: black;
border-width: 10px;
background-color: chartreuse;
grid-area: textoR;
}
.fotoMuñecas{
    border-style: solid;
border-color: black;
border-width: 10px;
background-color: chartreuse;
grid-area: fotoM;
display: flex;
flex-direction: column;
align-items: center;
}
.videoJuguetes{
    border-style: solid;
border-color: black;
border-width: 10px;
background-color: chartreuse;
grid-area: videoJ;
display: flex;
flex-direction: column;
align-items: center;
}
.juguetes{
    transition: all 3s;
    &:hover{
        transform: scale(4);
    }
}
.imagenPagina:hover{
    animation: imagenPagina 5s ;
}
@keyframes imagenPagina{
    0%{
        transform: scale(3);
    }
    20%{
        border-radius: 50%;
    }
    40%{
        transform: rotate(90deg);
    }
    60%{
        transform: translateX(100px);
    }
    80%{
        transform: translateY(50px);
    }
}