@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  padding: 0%;
  margin: 0%; }

body {
  background-color: #e76f51; }

ul, footer, ol, p, h1, h2, h3, h4, h5, section, div, li, nav, header, aside {
  font-family: 'Roboto', sans-serif;
  color: #e3d5ca; }

a {
  text-decoration: none;
  color: #90e0ef; }
  a:hover {
    background-color: darkorange; }
  a:active {
    color: black; }
  avisited {
    color: blueviolet; }

input {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0; }

.highlight {
  color: #ffc8dd; }

nav li {
  display: inline-block; }

header {
  background-color: #6a040f;
  padding: 20px;
  border-style: solid;
  border-color: black;
  border-width: 10px;
  grid-area: header; }
  header a {
    color: #bde0fe;
    font-size: large; }

@media (max-width: 1000px) and (min-width: 700px) {
  .textoEspecifico {
    color: green; } }

.tituloBienvenida {
  color: #76c893;
  background-color: #264653;
  grid-area: bienvenida;
  display: flex;
  justify-content: center;
  align-items: center; }

.fotoJuguetes {
  background-color: #264653;
  grid-area: fotoJ;
  display: flex;
  flex-direction: column;
  align-items: center; }

.textoRelleno {
  background-color: #264653;
  grid-area: textoR; }

.fotoMuñecas {
  background-color: #264653;
  grid-area: fotoM;
  display: flex;
  flex-direction: column;
  align-items: center; }

.videoJuguetes {
  background-color: #264653;
  grid-area: videoJ;
  display: flex;
  flex-direction: column;
  align-items: center; }

.juguetes {
  transition: all 3s; }
  .juguetes:hover {
    transform: scale(1.2); }

.imagenPagina:hover {
  animation: imagenPagina 5s; }

@keyframes imagenPagina {
  0% {
    transform: scale(1.5); }
  20% {
    border-radius: 50%; }
  40% {
    transform: rotate(90deg); }
  60% {
    transform: translateX(100px); }
  80% {
    transform: translateY(50px); } }

.listaJuguetes {
  background-color: #264653;
  padding: 20px;
  grid-area: listaJ;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .listaJuguetes img {
    border-radius: 20px;
    border-color: #0077b6;
    border-style: groove; }

.formPadre {
  grid-area: formP; }

.formularioNombre {
  background-color: #264653;
  padding: 20px;
  grid-area: formNombre;
  display: flex;
  flex-direction: column;
  align-items: center; }

.formularioEmail {
  background-color: #264653;
  padding: 20px;
  grid-area: formEmail;
  display: flex;
  flex-direction: column;
  align-items: center; }

.formularioConsulta {
  background-color: #264653;
  padding: 20px;
  grid-area: formConsulta;
  display: flex;
  flex-direction: column;
  align-items: center; }

.forumularioEdad {
  background-color: #264653;
  padding: 20px;
  grid-area: formEdad;
  display: flex;
  flex-direction: column;
  align-items: center; }

.formularioJuguetes {
  background-color: #264653;
  padding: 20px;
  grid-area: formJuguetes;
  display: flex;
  flex-direction: column;
  align-items: center; }

.formularioMarca {
  background-color: #264653;
  padding: 20px;
  grid-area: formMarca;
  display: flex;
  flex-direction: column;
  align-items: center; }

.formularioNotificacion {
  background-color: #264653;
  padding: 20px;
  grid-area: formNotif;
  display: flex;
  flex-direction: column;
  align-items: center; }

.formularioEnviar {
  background-color: #264653;
  padding: 20px;
  grid-area: formEnviar;
  display: flex;
  flex-direction: column;
  align-items: center; }

.listaCompras {
  background-color: #264653;
  padding: 20px;
  grid-area: listaC;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .listaCompras img {
    border-radius: 20px;
    border-color: #0077b6;
    border-style: groove; }

.listaOfertas {
  background-color: #264653;
  padding: 20px;
  grid-area: listaO;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .listaOfertas img {
    border-radius: 20px;
    border-color: #0077b6;
    border-style: groove; }

.textoSN {
  background-color: #264653;
  padding: 20px;
  grid-area: textoSN;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .textoSN img {
    border-radius: 20px;
    border-color: #0077b6;
    border-style: groove; }

footer {
  border-style: solid;
  border-color: black;
  border-width: 10px;
  background-color: #6a040f;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

@media (min-width: 300px) {
  .bodyInicio {
    display: grid;
    grid-template-areas: "header bienvenida bienvenida" "header fotoJ fotoJ" "header fotoJ fotoJ" "header textoR textoR" "header textoR textoR" "header fotoM fotoM" "header fotoM fotoM" "header videoJ videoJ" "header videoJ videoJ" "footer footer footer";
    grid-template-columns: 130px auto auto;
    grid-template-rows: 200px auto; }
  nav li {
    padding: 0 0 20px 0; }
  img {
    max-width: 300px;
    max-height: 300px; }
  figcaption {
    color: #76c893;
    font-size: x-large; }
  iframe {
    max-width: 400px;
    max-height: 300px; }
  .textoRelleno {
    display: flex;
    flex-direction: column;
    justify-content: left; }
  p {
    margin: 20px; }
  .formPadre {
    display: grid;
    grid-template-areas: "formNombre formNombre" "formEmail formEmail" "formConsulta formConsulta" "formEdad formEdad" "formMarca formJuguetes" "formNotif formNotif" "formEnviar formEnviar";
    grid-template-columns: auto;
    grid-template-rows: auto; }
  .bodyContacto {
    display: grid;
    grid-template-areas: "header formP" "footer footer";
    grid-template-columns: 130px auto;
    grid-template-rows: auto; }
  .bodyCategorías {
    display: grid;
    grid-template-areas: "header listaJ" "footer footer";
    grid-template-columns: 130px auto;
    grid-template-rows: auto auto; }
  .bodyCompras {
    display: grid;
    grid-template-areas: "header listaC" "footer footer";
    grid-template-columns: 130px auto;
    grid-template-rows: auto auto; }
  .bodyOfertas {
    display: grid;
    grid-template-areas: "header listaO" "footer footer";
    grid-template-columns: 130px auto;
    grid-template-rows: auto auto; }
  .bodyNosotros {
    display: grid;
    grid-template-areas: "header textoSN" "footer footer";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto; } }

@media (min-width: 600px) {
  p, figcaption, h2 {
    margin: 5px; }
  .bodyInicio {
    grid-template-columns: 140px auto auto;
    grid-template-rows: auto; }
  .imagenPagina, .juguetes {
    border-radius: 20px;
    border-color: #0077b6;
    border-style: groove; }
  .formPadre {
    grid-template-columns: 140px auto;
    grid-template-rows: auto; }
  .bodyContacto {
    grid-template-columns: 140px auto;
    grid-template-rows: auto; }
  .bodyCategorías {
    grid-template-columns: 140px auto;
    grid-template-rows: auto auto; }
  .bodyCompras {
    grid-template-columns: 140px auto;
    grid-template-rows: auto auto; }
  .bodyOfertas {
    grid-template-columns: 140px auto;
    grid-template-rows: auto auto; }
  .bodyNosotros {
    grid-template-columns: 140px auto;
    grid-template-rows: auto auto; } }

@media (min-width: 1024px) {
  .bodyInicio {
    display: grid;
    grid-template-areas: "header header header" "bienvenida bienvenida bienvenida" "fotoJ fotoJ fotoJ" "fotoJ fotoJ fotoJ" "textoR textoR textoR" "textoR textoR textoR" "fotoM fotoM fotoM" "fotoM fotoM fotoM" "videoJ videoJ videoJ" "videoJ videoJ videoJ" "footer footer footer";
    grid-template-columns: 150px 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto; }
  nav li {
    padding: 0 20px; }
  div {
    padding: 20px; }
  p {
    margin: 3px; }
  .pawPatrol {
    height: 75px;
    width: 500px; }
  .formPadre {
    grid-template-columns: 150px auto;
    grid-template-rows: auto; }
  .bodyContacto {
    grid-template-areas: "header header" "formP  formP" "footer footer";
    grid-template-columns: 150px auto;
    grid-template-rows: auto; }
  .bodyCategorías {
    grid-template-areas: "header header" "listaJ listaJ" "footer footer";
    grid-template-columns: 150px auto;
    grid-template-rows: auto auto; }
  .bodyCompras {
    grid-template-areas: "header header" "listaC listaC" "footer footer";
    grid-template-columns: 150px auto;
    grid-template-rows: auto auto; }
  .bodyOfertas {
    grid-template-areas: "header header" "listaO listaO" "footer footer";
    grid-template-columns: 150px auto;
    grid-template-rows: auto auto; }
  .bodyNosotros {
    grid-template-areas: "header header" "textoSN textoSN" "footer footer";
    grid-template-columns: 150px auto;
    grid-template-rows: auto auto; } }
