*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: brown;
    padding: 10px;
}
nav ul li{
    display: inline-block
    }
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    ul, footer, ol, p, h1, h2, h3, h4, h5, section, div, li, nav, header, aside{
        font-family: 'Roboto', sans-serif;
    }
    a{
        text-decoration: none;
    }
@media (min-width:480px){
.bodyInicio{
    display: grid;
    grid-template-areas:
    "header bienvenida bienvenida"
    "header fotoJ fotoJ"
    "header fotoJ fotoJ"
    "header textoR textoR"
    "header textoR textoR"
    "fotoM fotoM fotoM"
    "fotoM fotoM fotoM"
    "videoJ videoJ videoJ"
    "videoJ videoJ videoJ"
    "footer footer footer";
    grid-template-columns: 130px 175px 175px;
    grid-template-rows: 200px 200px 200px 300px 300px 200px 200px 200px 200px auto;
}
img{
    max-width: 300px;
    max-height: 300px;
}
figcaption{
    background-color:darkslategrey;
}
iframe{
    max-width: 400px;
    max-height: 300px;
}
.textoRelleno{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
p{
    margin: 20px;
}
.formPadre{
    display: grid;
    grid-template-areas:
    "formNombre formNombre"
    "formEmail formEmail"
    "formConsulta formConsulta"
    "formEdad formEdad"
    "formMarca formJuguetes"
    "formNotif formNotif"
    "formEnviar formEnviar";
    grid-template-columns: 175px 175px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.bodyContacto{
    display: grid;
    grid-template-areas:
    "header formP"
    "footer footer";
    grid-template-columns: 130px auto;
    grid-template-rows: auto;
}
.bodyCategorías{
    display: grid;
    grid-template-areas:
    "header listaJ"
    "footer footer";
    grid-template-columns: 130px auto;
    grid-template-rows: 500px auto;
}
.bodyCompras{
    display: grid;
    grid-template-areas:
    "header listaC"
    "footer footer";
    grid-template-columns: 130px auto;
    grid-template-rows: 500px auto;
}
.bodyOfertas{
    display: grid;
    grid-template-areas:
    "header listaO"
    "footer footer";
    grid-template-columns: 130px auto;
    grid-template-rows: 500px auto;
}
.bodyNosotros{
    display: grid;
    grid-template-areas:
    "header textoSN"
    "footer footer";
    grid-template-columns: 130px auto;
    grid-template-rows: 500px auto;
}
}
@media (min-width:600px){
    .bodyInicio{
        display: grid;
        grid-template-areas:
        "header bienvenida bienvenida"
        "header fotoJ fotoJ"
        "header fotoJ fotoJ"
        "header textoR textoR"
        "header textoR textoR"
        "fotoM fotoM fotoM"
        "fotoM fotoM fotoM"
        "videoJ videoJ videoJ"
        "videoJ videoJ videoJ"
        "footer footer footer";
        grid-template-columns: 150px 235px 235px;
        grid-template-rows: 200px 200px 200px 175px 175px 200px 200px 200px 200px auto;
    }
    .imagenPagina,.juguetes{
        border: 20px;
        border-color: aqua;
        border-style: groove;
    }
    p{
        margin: 5px;
    }
    .formPadre{
        display: grid;
        grid-template-areas:
        "formNombre formNombre"
        "formEmail formEmail"
        "formConsulta formConsulta"
        "formEdad formEdad"
        "formMarca formJuguetes"
        "formNotif formNotif"
        "formEnviar formEnviar";
        grid-template-columns: 225px 225px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .bodyContacto{
        display: grid;
        grid-template-areas:
        "header formP"
        "footer footer";
        grid-template-columns: 140px auto;
        grid-template-rows: auto;
    }
    .bodyCategorías{
        display: grid;
        grid-template-areas:
        "header listaJ"
        "footer footer";
        grid-template-columns: 140px auto;
        grid-template-rows: 600px auto;
    }
    .bodyCompras{
        display: grid;
        grid-template-areas:
        "header listaC"
        "footer footer";
        grid-template-columns: 140px auto;
        grid-template-rows: 600px auto;
    }
    .bodyOfertas{
        display: grid;
        grid-template-areas:
        "header listaO"
        "footer footer";
        grid-template-columns: 140px auto;
        grid-template-rows: 600px auto;
    }
    .bodyNosotros{
        display: grid;
        grid-template-areas:
        "header textoSN"
        "footer footer";
        grid-template-columns: 140px auto;
        grid-template-rows: 600px auto;
    }
}
@media (min-width:1024px){
        .bodyInicio{
            display: grid;
            grid-template-areas:
            "header bienvenida bienvenida"
            "header fotoJ fotoJ"
            "header fotoJ fotoJ"
            "header textoR textoR"
            "header textoR textoR"
            "fotoM fotoM fotoM"
            "fotoM fotoM fotoM"
            "videoJ videoJ videoJ"
            "videoJ videoJ videoJ"
            "footer footer footer";
            grid-template-columns: 150px 1fr 1fr;
            grid-template-rows: 200px 200px 200px 100px 100px 200px 200px 200px 200px auto;
        }
        p{
            margin: 3px;
        }
        .pawPatrol{
            border: 5px;
            border-style: dotted;
            border-color: indigo;
        }
        .formPadre{
            display: grid;
            grid-template-areas:
            "formNombre formNombre"
            "formEmail formEmail"
            "formConsulta formConsulta"
            "formEdad formEdad"
            "formMarca formJuguetes"
            "formNotif formNotif"
            "formEnviar formEnviar";
            grid-template-columns: 150px auto;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
        .bodyContacto{
            display: grid;
            grid-template-areas:
            "header formP"
            "footer footer";
            grid-template-columns: 150px auto;
            grid-template-rows: auto;
        }
        .bodyCategorías{
            display: grid;
            grid-template-areas:
            "header listaJ"
            "footer footer";
            grid-template-columns: 150px auto;
            grid-template-rows: 800px auto;
        }
        .bodyCompras{
            display: grid;
            grid-template-areas:
            "header listaC"
            "footer footer";
            grid-template-columns: 150px auto;
            grid-template-rows: 800px auto;
        }
        .bodyOfertas{
            display: grid;
            grid-template-areas:
            "header listaO"
            "footer footer";
            grid-template-columns: 150px auto;
            grid-template-rows: 800px auto;
        }
        .bodyNosotros{
            display: grid;
            grid-template-areas:
            "header textoSN"
            "footer footer";
            grid-template-columns: 150px auto;
            grid-template-rows: 800px auto;
        }
    }
.textoSN{
    background-color: aqua;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: textoSN;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listaOfertas{
    background-color: aqua;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: listaO;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listaCompras{
    background-color: aqua;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: listaC;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listaJuguetes{
    background-color: aqua;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: listaJ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formPadre{
    grid-area: formP;
}
.formularioNombre{
    background-color: aqua;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: formNombre;
    display: flex;
flex-direction: column;
align-items: center;
}
.formularioEmail{
    background-color: aqua;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: formEmail;
    display: flex;
flex-direction: column;
align-items: center;
}
.formularioConsulta{
    background-color: aqua;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: formConsulta;
    display: flex;
flex-direction: column;
align-items: center;
}
.forumularioEdad{
    background-color: aqua;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: formEdad;
    display: flex;
flex-direction: column;
align-items: center;
}
.formularioJuguetes{
    background-color: aqua;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: formJuguetes;
    display: flex;
flex-direction: column;
align-items: center;
}
.formularioMarca{
    background-color: aqua;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: formMarca;
    display: flex;
flex-direction: column;
align-items: center;
}
.formularioNotificacion{
    background-color: aqua;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: formNotif;
    display: flex;
flex-direction: column;
align-items: center;
}
.formularioEnviar{
    background-color: aqua;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: formEnviar;
    display: flex;
flex-direction: column;
align-items: center;
}
header{
    background-color: aqua;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tituloBienvenida{
    border-style: solid;
    border-color: black;
    border-width: 10px;
    background-color: aquamarine;
    grid-area: bienvenida;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fotoJuguetes{
border-style: solid;
border-color: black;
border-width: 10px;
background-color: chartreuse;
grid-area: fotoJ;
display: flex;
flex-direction: column;
align-items: center;
}
footer{
    border-style: solid;
border-color: black;
border-width: 10px;
    background-color: wheat;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.textoRelleno{
    border-style: solid;
border-color: black;
border-width: 10px;
background-color: chartreuse;
grid-area: textoR;
}
.fotoMuñecas{
    border-style: solid;
border-color: black;
border-width: 10px;
background-color: chartreuse;
grid-area: fotoM;
display: flex;
flex-direction: column;
align-items: center;
}
.videoJuguetes{
    border-style: solid;
border-color: black;
border-width: 10px;
background-color: chartreuse;
grid-area: videoJ;
display: flex;
flex-direction: column;
align-items: center;
}
