.formPadre{
    grid-area: formP;
}
.formularioNombre{
    background-color: $fondo;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: formNombre;
    display: flex;
flex-direction: column;
align-items: center;
}
.formularioEmail{
    background-color: $fondo;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: formEmail;
    display: flex;
flex-direction: column;
align-items: center;
}
.formularioConsulta{
    background-color: $fondo;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: formConsulta;
    display: flex;
flex-direction: column;
align-items: center;
}
.forumularioEdad{
    background-color: $fondo;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: formEdad;
    display: flex;
flex-direction: column;
align-items: center;
}
.formularioJuguetes{
    background-color: $fondo;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: formJuguetes;
    display: flex;
flex-direction: column;
align-items: center;
}
.formularioMarca{
    background-color: $fondo;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: formMarca;
    display: flex;
flex-direction: column;
align-items: center;
}
.formularioNotificacion{
    background-color: $fondo;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: formNotif;
    display: flex;
flex-direction: column;
align-items: center;
}
.formularioEnviar{
    background-color: $fondo;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    grid-area: formEnviar;
    display: flex;
flex-direction: column;
align-items: center;
}