footer{
    border-style: solid;
border-color: black;
border-width: 10px;
    background-color: #6a040f;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}