nav{
    li{
        display: inline-block;
    }
    }
header{
        background-color: #6a040f;
        padding: 20px;
        border-style: solid;
        border-color: black;
        border-width: 10px;
        grid-area: header;
        display: flex;
        flex-direction: column;
        justify-content: center;
        a{
            color: #bde0fe;
            font-size: large;
        }
    }