@media (max-width: 1000px) and (min-width: 700px){
    .textoEspecifico{
        color: green;
    }
}
.tituloBienvenida{
    color: $titulo;
    background-color: $fondo;
    grid-area: bienvenida;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fotoJuguetes{
background-color: $fondo;
grid-area: fotoJ;
display: flex;
flex-direction: column;
align-items: center;
}
.textoRelleno{
background-color: $fondo;
grid-area: textoR;
}
.fotoMuñecas{
background-color: $fondo;
grid-area: fotoM;
display: flex;
flex-direction: column;
align-items: center;
}
.videoJuguetes{
background-color: $fondo;
grid-area: videoJ;
display: flex;
flex-direction: column;
align-items: center;
}
.juguetes{
    transition: all 3s;
    &:hover{
        transform: scale(1.2);
    }
}
.imagenPagina:hover{
    animation: imagenPagina 5s ;
}
@keyframes imagenPagina{
    0%{
        transform: scale(1.5);
    }
    20%{
        border-radius: 50%;
    }
    40%{
        transform: rotate(90deg);
    }
    60%{
        transform: translateX(100px);
    }
    80%{
        transform: translateY(50px);
    }
}