.listaOfertas{
    background-color: $fondo;
    padding: 20px;
    grid-area: listaO;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        border-radius: 20px;
        border-color: $bordeimg;
        border-style:groove;
    }
}