.textoSN{
    background-color: $fondo;
    padding: 20px;
    grid-area: textoSN;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        @include max-sizes (50%, 50%);
        border-radius: 20px;
        border-color: $bordeimg;
        border-style:groove;
    }
}